* {
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 8px 20px;
}

.checkbox {
  position: relative;
  padding: 8px;
}

.checkbox.unfolded:before {
  content: " ";
  position: absolute;
  height: calc(100% - 40px);
  width: 1px;
  background: #ddd;
  left: -12px;
  top: 50%;
  transform: translateY(-50%);
}

.fold-button {
  position: absolute;
  top: 19px;
  transform: translateY(-50%);
  left: -24px;
  background: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  color: #889297;
  font-size: 16px;
}

.fold-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fold-button svg {
  transition: .2s ease;
}

.checkbox.unfolded > .fold-button svg {
  transform: rotate(90deg);
}

.checkbox-container {
  position: relative;
  display: none;
}

.checkbox.unfolded > .checkbox-container {
  display: block;
}

.checkbox label {
  display: inline-flex;
  align-items: center;
  flex-flow: row-reverse;
  justify-content: flex-end;
  gap: 10px;
}

.box {
  position: relative;
  display: inline-flex;
  height: 20px;
  width: 20px;
  border: solid 1px #ddd;
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  transition: .1s ease;
  background: white;
}

.checkbox .box svg {
  display: none;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

.checkbox.checked > label .box {
  background: #2196f3;
}

.checkbox.checked > label .box svg.checkicon {
  transform: translate(-50%, -50%);
  display: inline-block;
}

.checkbox:has(.checked) > label .box{
  background: #2196f3;
}

.checkbox:not(.checked):has(.checked) > label .box svg.minusicon {
  display: inline-block;
}